body {
  font-family: 'Proxima Nova', 'Avenir Next', Arial, Helvetica, sans-serif;
  background-color: #0A0A0A;
  color: white;
  margin: 1rem;
}

.element {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-width: 0.05rem;
  border-style: solid;
  border-color: white;
}

/* __________________STYLING FOR NAVIGATION:__________________ */

#logo {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 700;
}

#logo-link{
  text-decoration: none;
  color: white;
}

.landing-head {
  max-width: 100%;
  margin: 0rem 9rem 9rem 9rem;
  padding: 0rem 2rem;
  padding-top: 10rem;
  justify-content: center
}

.head-logo {
  font-size: 6rem;
  margin: 3rem 0rem 0rem 0rem;
}

header {
  background: #0A0A0A;
  position: sticky;
  top: 0px;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.05rem solid;
  z-index: 1000;
}

nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

nav a {
  color: white;
  font-weight: Bold;
  text-decoration: none;
  margin: 1rem;
}

nav a:hover, nav a:focus {
  bottom: 1rem;
  text-decoration: none;
  color: #2c5dec;
  transition: 0.5s ease;
}

.active-nav {
  color: #2c5dec;
  text-decoration: none;
}

/* __________________BUTTON ELEMENTS:__________________ */

/* .button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 15px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button:hover, .button:focus {
  background-color: rgb(200,0,0);
} */

/* __________________STYLING FOR LINKS__________________ */

a {
  color: blue;
}

#text-link:hover {
  color: red;
  transition: 0.5s ease;
}

#text-link:focus {
  color: darkblue;
}

/* __________________TEXT ELEMENTS:__________________ */

h1 {
  font-size: 1rem;
}

p {
  margin-top: 0;
}

/* __________________LADNING PAGE: PROJECT DISPLAY__________________ */

.section {
  margin: 0rem 2rem 0rem 2rem;
}

.proj-container {
  max-width: 600px;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}

.proj-img {
  filter: grayscale(100%);
  width: 120%;
}

.proj-img:hover {
  filter: grayscale(0%);
  opacity: 0.85;
}

.project-name {
  position: absolute;
  padding-top: 280px;
  left: 15%;
  font-size: 4rem;
  font-weight: 800;
  -webkit-text-stroke: 2px white;
  color: rgba(255, 255, 255, 0.0);
}

.project-type {
  position: absolute;
  padding-top: 350px;
  left: 15%;
  font-size: 1rem;
  color: grey;
}

/* __________________ABOUT PAGE__________________ */

.container {
  margin-top: 4rem;
}

.about-text {
  padding: 1rem;
  margin: 0rem 12rem 0rem 14rem;
  max-width: 50%;
  font-size: 1.25rem;
}

/* __________________PROJECT PAGES: __________________ */

.proj-box {
  text-align: center;
  align-items: center;
}

.proj-heading {
  margin-top: 12rem;
  margin-bottom: 20rem;
  padding: 4rem 0 2rem 0;
}

.proj-title {
  color: #41698D;
  font-size: 6.5rem;
  font-weight: 600;
  font-kerning: auto;
  padding: 0;
  margin: 0.5rem;
  line-height: 6rem;
}

.proj-subtitle {
  color: white;
  font-size: 1.15rem;
  font-weight: 500;
  font-style: italic;
  margin: 0rem auto 0.5rem auto;
  padding: 0rem 2rem;
}

.proj-detail {
  color: lightgrey;
  margin: 1rem;
}


/* __________________STYLING FOR FOOTER:__________________ */

footer {
  bottom: 0;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 30px 0rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0rem 0rem 0rem;
  border-top: 0.5px solid grey;
}

.footer-section {
  max-width: 80%;
  padding: 1rem;
}
